// light theme
$light-theme-primary-background-color: #F4F4F4;
$light-theme-secondary-background-color: #FFFFFF;

// dark theme
$dark-theme-primary-background-color: #252526;
$dark-theme-secondary-background-color: #1E1E1E;